*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/saves
usernamecache.json
/mods
/logs
/crash-reports
/bin
/config

# Allow latest builds
!RopeBridge*.jar

# Server stuff
/world
eula.txt
banned-ips.json
banned-players.json
ops.json
options.txt
options.txt
server.properties
servers.dat
usercache.json
whitelist.json